@font-face {
    font-family: Harry;
    src: url('../../fonts/Harrypotter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Potter;
    src: url('../../fonts/HARRYP__.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  
body {
    // font-family: Lumos;
}
  