@import '../core/Variables.scss';

.cards {
  &__title {
    text-align: center;
    padding: 30px;
    font-family: Harry;
    color: $darkpurple;
    font-size: 18px;
  }
  &__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  @media (min-width: 768px) {
    &__title {
      font-size: 24px;
    }
  }
}
.card {
  color: $white;
  position: relative;
  font-family: Harry;
  &::after {
    content: '';
    position: absolute;
    content: '';
    position: absolute;
    height: 3rem;
    top: 8%;
    right: 5%;
    border: 1px solid;
  }
  &__info {
    color: $darkpurple;
    width: 11em;
    height: 17em;
    padding: 1rem;
    background: linear-gradient(to bottom right, $yellow, $orange);
    border: 1px solid $yellow;
    border-radius: 0.7rem;
    transition: all ease 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &--img {
      border-radius: 0.2rem;
      width: 95%;
      height: 80%;
    }
    &--title {
      font-size: 0.8rem;
    }
    &--specs {
      font-size: 0.6rem;
    }
    &:hover {
      box-shadow: 0px 0px 20px 1px $darkpurple;
      transform: scale(1.1) translateY(-3px);
    }
  }
}
.noResults {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  &__img {
    width: 50%;
  }
  &__text {
    color: $darkpurple;
    font-family: Harry;
    font-size: 14px;
    text-align: center;
    &--word{
      color: $orange;
    }
  }
  @media (min-width: 768px) {
    &__text {
      font-size: 20px;
    }
  }
}
