@import '../core/Variables.scss';

.detailPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: flex-end;
  gap: 20px;
  background-color: #fffff0;
  padding: 20px;
  border: 2px solid #f9dd30;
  border-radius: 10px;
}
.return {
  font-family: Potter;
  text-transform: uppercase;
  font-size: 24px;
  display: flex;
  color: #d77f3d;
  &:hover {
    transition: all ease 0.3s;
    transform: scale(1.2);
  }
}
.cardDetail {
  background: linear-gradient(to bottom right, #d77f3d, #f9dd30);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: #fffff0;
  line-height: 1.5;
  @media (min-width: 768px) {
    padding: 20px;
    justify-content: space-evenly;
  }
}
.detail {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 350px;
  width: 200px;
  background: linear-gradient(to right, #d77f3d, #f9dd30);
  border-radius: 5px;
  &__img {
    border-radius: 5px;
    width: 60%;
    background-image: cover;
    order: 1;
  }
  &__info {
    padding: 10px;
    color: white;
    order: 3;
    width: 100%;
    text-align: center;
    &--title {
      font-size: 16px;
      font-family: Harry;
      padding-bottom: 5px;
    }
    &--specs {
      font-size: 12px;
      text-transform: capitalize;
      font-family: Harry;
    }
  }
  &__house {
    width: 29.8%;
    order: 1;
  }
  @media (min-width: 768px) {
    flex-direction: row;
    &__img {
      width: 35%;
      order: 1;
    }
    &__info {
      order: 2;
      width: 40%;
      text-align: left;
    }
    &__house {
      width: 15%;
      order: 3;
    }
  }
}
