@import '../core/Variables.scss';

.form {
  font-family: Harry;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  &__title{
    font-size: 18px;
    text-align: center;
  }
  @media (min-width: 768px){
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    &__title{
      font-size: 24px;
      grid-column: span 3;
    }
  }
}
.fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;
  font-family: Harry;
  @media (min-width: 768px){
    flex-direction: row;
    align-items: center;
    gap: 15px;
    padding: 0 30px;
  }
}
.input {
  background: linear-gradient(to right, $orange, $yellow);
  color: $darkpurple;
  border: 2px solid $purple;
  border-radius: 0.3rem;
  font-family: Harry;
  font-size: 16px;
  padding: 3px;
  &:hover {
    box-shadow: 0px 0px 10px 1px $purple;
  }
  &:focus-visible{
    outline: none;
  }
}
.genderOptions{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap:10px;
  &__label{
    display: flex;
    gap:10px;
  }
  @media (min-width:768px){
    flex-direction: row;
    
  }
}
.reset {
  cursor: pointer;
  font-family: Potter;
  text-transform: uppercase;
  font-size: 30px;
  color: transparent;
  background: linear-gradient(to right, $orange, $yellow);
  -webkit-background-clip: text;
  background-clip: text;
  border: none;
  background-color: $transparent;
  transition: all ease 0.3s;
  text-align: right;
  &:hover {
    transform: scale(1.2);
  }
  @media (min-width: 768px){
    padding-right: 20px;
    grid-column: 2/3;
  }
}
@media(min-width: 768px){
  .byName{
    grid-column: span 3;
  }
  .byHouse{
    grid-row: 3/4;
    grid-column: 1/2;
  }
  .bySpecies{
    grid-row: 3/4;
    grid-column: 2/3;
  }
  .byGender{
    grid-column: span 3;
  }
  
}