.form{
    background-color: rgb(168, 166, 166);
    color: white;
    font-family: Harry;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
    gap: 10px;
    border: 2px solid #D77F3D;
    border-bottom: none;
}
.fieldset{
    border: none;
    display: inline;
    font-size: 16px;
    font-family: Harry;
}
.input{
    background-color: grey;
    color: white;
    border: 2px solid #D77F3D;
    font-family: Harry;
    font-size: 16px;
    padding: 3px;
}