@import './core/Reset.scss';
@import './core/Variables.scss';

.body {
  height: 100%;
  background-color: $purple;
  padding: 20px;
}
.main {
  background-color: $white;
  border: 3px solid $darkpurple;
  border-radius: 10px;
}
